<h1>Products#new</h1>

<%= form_for @product, url: products_path, html: { multipart: true } do |form| %>
  <%= form.label :photo_image_size %>
  <%= form.select :photo_image_size, options_for_select(['400px', '600px', '800px', '1200px', '1600px']) %>
  <%= form.label :photo %>
  <%= form.file_field :photo %>
  <%= form.submit %>
<% end %>

<%= link_to 'Product Index', products_path %>
