<h3>Product#show</h3>

<%= link_to 'Back to Index', products_path, class: 'btn btn-sm btn-secondary my-3' %>

<div>
  <%= "Photo Name: #{@product.photo_file_name}" %>
</div>
<div>
  <%= "Image Size: #{@product.photo_image_size}" %>
</div>
<div>
  <%= "Encode Process Time: #{@product.process_time} sec" %>
</div>

<table class='table my-3'>
  <thead>
    <th>#</th>
    <th>Original</th>
    <th>AVIF</th>
  </thead>
  
  <tbody>
    <tr>
      <td>Size</td>
      <td><%= File.size @product.photo.path%></td>
      <td><%= File.size @product.photo.path(:avif)%></td>
    </tr>
    <tr> 
      <td>Image</td>
      <td><%= image_tag @product.photo.url %></td>
      <td><%= image_tag @product.photo.url(:avif) %></td>
    </tr>
  </tbody>
</table>
